body {
	background:url(img/slide-3.jpeg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
.tgl {
  font-family: courier new , arial , cursive;
  text-align: center;
  font-size: 25px;
  font-weight: bold;
}
.nama {
  display: inline-block;
  position: relative;
  left: 150px;
  font-family: 'The Nautigal', cursive;
  font-size: 215px;
  text-align: center;
}

@media (max-width: 575.98px){
  .nama {
    display:block;
    font-size: 5rem;
    position: relative;
    left: 0;
  }
  .tgl {
    font-size: 1rem;
  }
  .open a {
  	margin-left: 30%;
  }
}
